h1 {
    font-family: Helvetica;
    color: #4cc530;
    text-align: center;
    font-weight: 600;
}

h2 {
    font-family: Verdana;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
}

p {
    font-family: sans-serif;
    text-align: center;
    font-weight: 800;
    color: #4cc530;
}

body {
    background-color: #232324;
    transition-property: opacity;
    transition-duration: 0.5s;
}

audio {
    z-index: 0;
    position: relative;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.mainheader {
    position: fixed;
    top: 0;
    left: 0.25vw;
    border-top: 5px solid #232324;
    border-bottom: none;
    border-right: none;
    border-left: none;
    top: 0;
    z-index: 5;
    width: 98vw;
}

.link {
    text-decoration: none;
    color: inherit;
}

table.gallery {
    border-radius: 20px;
    padding: 10px;
    background-color: #6d6c6c;
    box-shadow: 0 0 50px #6d6c6c;
}

div.footer {
    font-family: monospace;
    color: #6b6b6b;
    text-align: center;
    font-weight: 200;
    font-size: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.introbox {
    position: fixed;
    padding-top: 40vh;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #232324;
    opacity: 1.0;
    z-index: 6;
    transition-property: opacity background-color;
    transition-duration: 1s;
}

div.introbox.cleared {
    opacity: 0.0;
    background-color: transparent;
    visibility: hidden;
}

img {
    height: 150px;
}

img.rounded {
    display: block;
    border-radius: 50%;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: inherit;
    width: inherit;
}

th.link {
    transition-property: background-color;
    transition-duration: 1s;
}

th.link:hover {
    background-color: #8b8888;
}

.changingbackground {
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: changingimage;
    animation-duration: 32s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.fadein {
    animation-name: fade-entrance;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes fade-entrance {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes changingimage {
    12.5% {
        background-image: url('images/Background Images/Alex Comp 1 Image.png');
    }
    25%{
        background-image: url('images/Background Images/Cookin Pasta.jpeg');
    }
    37.5%{
        background-image: url('images/Background Images/Alex Comp 3 Image.png');
    }
    50%{
        background-image: url('images/Background Images/logo.png');
    }
    62.5%{
        background-image: url('images/Background Images/NewRinaldi Is Greater.jpg');
    }
    75%{
        background-image: url('images/Background Images/Will R Comp 1 Image.png');
    }
    87.5%{
        background-image: url('images/Background Images/Will R Comp 2 Image.png');
    }
    100%{
        background-image: url('images/Background Images/Iron Duke.jpg');
    }
}